body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://images8.alphacoders.com/133/1330719.png") no-repeat fixed;
    overflow-x: hidden;
    background-size: cover;
}

.neon-title {
    font-size: 52px;
    margin-top: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.container {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 15vh;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.navigation input[type="submit"] {
    padding: 15px 30px;
    font-size: 24px;
    border: 3px solid transparent;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #ff4081;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navigation input[type="submit"]:hover {
    background-color: #d5004d;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}