body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://wallpapercave.com/wp/wp5433282.jpg") no-repeat fixed;
    overflow-x: hidden;
    background-size: cover;
}

.container {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 5vh;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

h1, p, label, button, .footer {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

h1 {
    background: linear-gradient(to right, rgb(9, 0, 255), rgb(255, 0, 252));
    transform: scale(1.1);
    padding: 15px;
    border-radius: 8px;
    font-size: 38px;
    border: 2px solid #ffffff;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

.login-table {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(213, 213, 213, 0.6), rgb(70, 70, 70));
    transform: scale(1.1);
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:hover {
    background: linear-gradient(to right, rgba(232, 67, 147, 0.6), rgb(30, 10, 169));
    transform: scale(1.2);
    border-color: #ffffff;
}



.button-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.login-table::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.register-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, rgba(213, 213, 213, 0.6), rgb(70, 70, 70));
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.register-button:hover {
    background: linear-gradient(to right, rgb(9, 0, 255), rgb(255, 0, 252));
    transform: scale(1.1);
    border-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

.footer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    width: 100%;
    border: 2px solid #555;
    text-align: center;
    font-size: 20px;
}