body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/menu.png") no-repeat fixed;
    overflow-x: hidden;
    background-size: cover;
}

.neon-title {
    font-size: 52px;
    margin-top: 36px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.profile-link {
    margin-top: 20px;
}

.profile-link img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
    transition: transform 0.3s ease-in-out;
}

.profile-link img:hover {
    transform: scale(1.2);
}

.container {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 15px;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.quests-list {
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
}

.quests-list h2 {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.social-media-window {
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-top: auto;
    position: relative;
}

.social-media-window::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.social-media-bar {
    display: flex;
    justify-content: center;
}

.social-media-bar a {
    margin: 0 10px;
    text-decoration: none;
    position: relative;
}

.social-media-bar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-media-bar img:hover {
    transform: scale(1.2);
}

.social-media-bar img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(1) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #ff4081;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(2) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #6200ea;
    border-radius: 50%;
    pointer-events: none;
}

.button-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer {
    margin-top: auto;
    padding: 20px;
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    width: 100%;
    border: 2px solid #555;
    text-align: center;
    font-size: 20px;
}

h1, p, label, button, .footer {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

h1 {
    background-color: rgba(232, 67, 147, 0.5);
    padding: 15px;
    border-radius: 8px;
    font-size: 24px;
    border: 2px solid #d53e8c;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

h1, .neon-text {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.neon-border {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
    transition: transform 0.3s ease-in-out;
}

.neon-border:hover {
    transform: scale(1.2);
}
