body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/profile-background.png") no-repeat fixed;
    overflow-x: hidden;
    background-size: cover;
}

h1, p, label, button, .footer {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

h1 {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(255, 0, 59), rgb(0, 87, 246)); /* Используйте rgba для добавления прозрачности к цветам фона */
    border-color: rgba(255, 255, 255,0.6); /* То же самое для цвета границы */

    padding: 15px;
    width: 25%;
    border-radius: 8px;
    font-size: 24px;
    border: 2px solid #ffffff;
    position: relative;
    margin: auto; /* Center the element horizontally */
    margin-bottom: 20px; /* Adjust the margin-bottom as needed */
    text-align: center; /* Center the text within the h1 element */
}

h1::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.neon-title,
.neon-text,
.neon-table li {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.neon-table {
    text-align: center;
    border-collapse: collapse;
    width: 50%;
    align-items: center; /* Центрирование содержимого по вертикали */
    text-align: center; /* Центрирование текста в ячейке */
}

.neon-table td {
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    position: relative;
}

.user-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.neon-table td::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

h2, h3, p, label, button {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

h2 {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 8px;
    font-size: 24px;
    border: 2px solid #fff;
    position: relative;
}

h2::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-top: 10px;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 15px;
}

button, input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Добавим стили для изменения цвета при наведении на кнопку Login */
button:hover, input[type="submit"]:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(255, 0, 59), rgb(0, 87, 246)); /* Используйте rgba для добавления прозрачности к цветам фона */
}

.button-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.social-media-window {
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    position: relative;
}

.social-media-window::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100px; /* Задайте необходимую ширину и высоту для изображения */
    height: 100px;
}

/* Стиль для неоновой подсветки */
.neon-border {
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

/* Объедините стили для круглого изображения и неоновой подсветки */
.round-image.neon-border img {
    width: 100%; /* Чтобы изображение занимало всю площадь круга */
    height: 100%;
    object-fit: cover; /* Чтобы изображение сохраняло пропорции и полностью покрывало круг */
}

.social-media-bar {
    display: flex;
    justify-content: center;
}

.social-media-bar a {
    margin: 0 10px;
    text-decoration: none;
    position: relative;
}

.social-media-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 100px;
}

.social-media-bar img:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(255, 0, 59), rgb(0, 87, 246)); /* Используйте rgba для добавления прозрачности к цветам фона */
    border-color: #fff;
}

.social-media-bar img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(1) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #ff4081;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(2) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #6200ea;
    border-radius: 50%;
    pointer-events: none;
}

button:hover {
    border-color: #ffffff;
}

.social-media-bar img:hover {
    transform: scale(1.2);
    background: linear-gradient(to right, rgb(255, 0, 59), rgb(0, 87, 246)); /* Используйте rgba для добавления прозрачности к цветам фона */
    border-color: #fff;
}

.social-media-bar a:nth-child(3) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #e040fb;
    border-radius: 50%;
    pointer-events: none;
}

.neon-title {
    font-size: 52px;
    margin-top: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.footer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    width: 100%;
    border: 2px solid #555;
    text-align: center;
    font-size: 20px;
}

.container {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 15vh;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}