body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/registration.jpg");
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 50%;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 15vh;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

h1, p, label, button, .footer {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

h1 {
    background-color: rgba(171, 11, 180, 0.8);
    padding: 15px;
    border-radius: 8px;
    font-size: 24px;
    border: 2px solid #8c147d;
    position: relative;
}

h1::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

.login-table {
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    background-color: rgba(51, 51, 51, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.login-table::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

input {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 15px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(232, 67, 147, 0.6);
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Добавим стили для изменения цвета при наведении на кнопку Login */
button:hover {
    background-color: #d5004d; /* Измененный цвет при наведении */
}

.button-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.register-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgba(232, 67, 147, 0.6);
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.register-button:hover {
    background-color: #d5004d;
    transform: scale(1.1);
}

.social-media-window {
    background-color: rgba(68, 68, 68, 0.8);
    padding: 10px;
    border-radius: 8px;
    margin-top: 50px;
    position: relative;
}

.social-media-window::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 2px solid #fff;
    border-radius: 8px;
    pointer-events: none;
}

.social-media-bar {
    display: flex;
    justify-content: center;
}

.social-media-bar a {
    margin: 0 10px;
    text-decoration: none;
    position: relative;
}

.social-media-bar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 1px solid #fff;
    border-radius: 100px;
}

.social-media-bar img:hover {
    transform: scale(1.2);
}

.social-media-bar img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(1) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #ff4081;
    border-radius: 50%;
    pointer-events: none;
}

.social-media-bar a:nth-child(2) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #6200ea;
    border-radius: 50%;
    pointer-events: none;
}

button:hover {
    background-color: #d5004d; /* Измененный цвет при наведении */
    border-color: #d5004d; /* Измененный цвет обводки при наведении */
}

/* Добавляем стиль для иконок социальных сетей при наведении */
.social-media-bar img:hover {
    transform: scale(1.2);
    background-color: #d5004d; /* Измененный цвет фона при наведении */
    border-color: #fff; /* Измененный цвет обводки при наведении */
}

.social-media-bar a:nth-child(3) img::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid #e040fb;
    border-radius: 50%;
    pointer-events: none;
}

.neon-title {
    font-size: 52px;
    margin-top: 36px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 30px rgba(255, 255, 255, 1);
}

.footer {
    margin-top: 30px;
    padding: 20px;
    background-color: rgba(68, 68, 68, 0.8);
    color: #fff;
    width: 100%;
    border: 2px solid #555;
    text-align: center;
    font-size: 20px;
}